export(rdbwselect)
export(rdrobust)
export(rdplot) 
export(rdbwselect_2014)
S3method(print,rdrobust)
S3method(summary,rdrobust)
S3method(print,rdbwselect)
S3method(summary,rdbwselect)
S3method(print,rdbwselect_2014)
S3method(summary,rdbwselect_2014)
S3method(print,rdplot)
S3method(summary,rdplot)
import(ggplot2)
import(MASS)
importFrom("stats", "lm", "predict", "ave", "aggregate")
importFrom("utils", "capture.output")
importFrom("graphics", "abline", "arrows", "lines", "plot", "polygon")
importFrom("stats", "IQR", "complete.cases", "integrate", "median",
              "pnorm", "poly", "qnorm", "quantile", "sd", "var", "qt")

